.ax_default {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.heading_1 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.table_cell {
}
.image {
}
.placeholder {
}
.button {
}
._文本段落 {
  text-align:left;
}
._表格 {
}
.box_1 {
}
._形状 {
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.box_2 {
}
._图片 {
}
.box_21 {
}
.flow_shape {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#1E98D7;
}
.label {
  font-size:14px;
  text-align:left;
}
._图片1 {
}
.ellipse {
}
.box_22 {
}
.box_3 {
}
.refs-chart-data {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-size:12px;
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._默认样式 {
}
._形状1 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
.line {
}
.icon {
}
._形状2 {
}
._形状3 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.line1 {
}
.box_11 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.label2 {
  font-size:14px;
  text-align:left;
}
.primary_button1 {
  color:#FFFFFF;
}
.table_cell1 {
}
._形状4 {
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.icon1 {
}
.connector {
}
.paragraph1 {
  text-align:left;
}
.image1 {
  color:#000000;
}
.text_area {
  color:#000000;
  text-align:left;
}
.horizontal_line {
}
.refs-webm-wechat {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
._形状5 {
}
._图片2 {
  color:#000000;
}
._形状6 {
}
._形状7 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
.ellipse1 {
}
.label3 {
  font-size:14px;
  text-align:left;
}
.box_23 {
}
.icon2 {
}
.icon3 {
}
.box_31 {
}
._形状8 {
}
.box_12 {
}
.box_24 {
}
.ellipse2 {
}
.icon4 {
}
.line2 {
}
._图片3 {
}
.box_32 {
}
._图片_ {
}
.text_field2 {
  color:#000000;
  text-align:left;
}
._形状9 {
}
._三级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.heading_31 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.paragraph2 {
  text-align:left;
}
.text_area1 {
  color:#000000;
  text-align:left;
}
._二级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.box_33 {
}
.heading_11 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._图片_1 {
}
._图片4 {
}
.line3 {
}
.box_25 {
}
.refs-design-apple {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
.line4 {
}
.box_26 {
}
.label4 {
  font-size:14px;
  text-align:left;
}
._形状10 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_13 {
}
.line5 {
}
.label5 {
  font-size:14px;
  text-align:left;
}
.box_27 {
}
.ellipse3 {
}
.ellipse4 {
}
.image2 {
}
.refs-chart-data1 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
.table_cell2 {
}
.text_area2 {
  color:#000000;
  text-align:left;
}
.text_area3 {
  color:#000000;
  text-align:left;
}
.ellipse5 {
}
.label6 {
  font-size:14px;
  text-align:left;
}
.box_34 {
}
.box_28 {
}
.line6 {
}
.text_area4 {
  color:#000000;
  text-align:left;
}
.primary_button2 {
  color:#FFFFFF;
}
.checkbox1 {
  text-align:left;
}
.text_field3 {
  color:#000000;
  text-align:left;
}
.primary_button3 {
  color:#FFFFFF;
}
.refs-chart-data2 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
.label7 {
  font-size:14px;
  text-align:left;
}
._形状11 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.text_field4 {
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
._形状12 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
.ellipse6 {
}
.heading_12 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状13 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.line7 {
}
._主标题 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
  text-align:left;
}
._形状14 {
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0066;
}
.shape1 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape2 {
}
textarea, select, input, button { outline: none; }
